aside {
  position: fixed;
  height: 91.7vh;
  width: 270px;
  background-color: var(--gray-light);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.streamers-list {
  padding-bottom: 50px;
  overflow: auto;
}

.streamers-list::-webkit-scrollbar {
  width: 0;
}

.avatar {
  background-color: white;
  border: 1px solid var(--gray-main);
  border-radius: 50%;
  height: 25px;
  width: 30px;
  margin-right: 10px;
}

.streams {
  list-style-type: none;
  padding: 0;
}

.streams li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.viewers {
  margin-top: 10px;
}

.live::before {
  top: -3px;
  left: -5px;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  font-size: 8px;
  color: var(--red-main);
  box-shadow: 0 0 0 0 rgb(235, 117, 117);
  transform: scale(1);
  animation: pulse 2.5s infinite;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(240, 131, 131, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(240, 131, 131, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(240, 131, 131, 0);
  }
}

.streamer-name {
  text-overflow: ellipsis;
}

.streamer-name:hover {
  color: var(--blue-main);
}

.streams li:hover {
  background-color: var(--gray-main);
  border-radius: 3px;
}

.info-block {
  padding: 10px;
  height: 130px;
  background-color: var(--gray-main);
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.info-block h3::selection {
  color: #ffffff;
  background-color: var(--orange-main);
}

.social-media i {
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}

#telegram:hover {
  color: #3b95fd;
}

#instagram:hover {
  color: #9b4703;
}

#facebook:hover {
  color: #2125fa;
}

@media screen and (max-width: 1200px) {
  aside {
    width: 60px;
    padding: 0;
  }
  .info-block {
    display: none;
  }
  .viewers {
    display: none;
  }
}
