header {
  width: 100%;
  height: 60px;
  margin-bottom: 2%;
  position: fixed;
  top: 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  z-index: 100;
}

.logo {
  cursor: pointer;
  font-size: 30px;
  color: var(--orange-main);
}

.search {
  display: flex;
  width: 30%;
}

.search input {
  padding: 5px;
}

#query {
  width: 80%;
}

#query:focus {
  outline: none;
  border: 2px solid var(--blue-main);
}

.search-btn {
  border: 1px solid var(--gray-main);
  border-radius: 3px;
  border-left: none;
  cursor: pointer;
  padding: 7px;
}

.search-btn:hover {
  background-color: var(--gray-main);
}

.secondary-btn {
  border: none;
  background-color: #ffffff;
  color: var(--gray-main);
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

.secondary-btn:hover {
  color: var(--gray-secondary);
}

.paw-btn {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--orange-main);
  margin-left: 8px;
  border: none;
  font-size: 12px;
  padding: 10px;
}

.paw-btn:hover {
  background-color: var(--gray-main);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 10px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 101;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown-content a:first-child::before {
  content: "\f1b0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: -2px;
  position: absolute;
  margin-left: 5px;
}

.dropdown-content a:nth-child(2):before {
  content: "\f013";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: -2px;
  position: absolute;
  margin-left: 5px;
}

.dropdown-content a:last-child::before {
  content: "\f2f5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: -2px;
  position: absolute;
  margin-left: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#log-out-btn {
  border-top: 1px solid var(--gray-secondary);
  color: var(--red-main);
}
