@import "aside.css";
@import "header.css";
@import "main_section.css";
@import "colors.css";
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  outline-offset: none;
}

html {
  font-family: "Acme", sans-serif;
}
