main {
  display: flex;
  margin-top: 60px;
}

section {
  margin-left: 270px;
  width: 100%;
  overflow: hidden;
}

.categories-list {
  margin-left: 30px;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}

.categories-list::-webkit-scrollbar {
  width: 0;
}

.categories-list li {
  padding-top: 5px;
  height: 30px;
  margin: 10px;
  width: 80px;
  list-style-type: none;
  border-radius: 15px;
  background-color: var(--gray-light);
  text-align: center;
  border: 1px solid var(--gray-main);
  cursor: pointer;
}

.categories-list li:first-child {
  background-color: var(--orange-main);
  color: #ffffff;
}

.categories-list li:hover {
  background-color: var(--gray-main);
}

.video-container {
  width: 100%;
  padding-left: 70px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
  gap: 20px;
}

.preview {
  position: relative;
}

.img-container img {
  width: 336px;
  height: 188px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 30px;
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.live-badge {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 10px;
  color: #ffffff;
  background-color: var(--red-main);
  border-radius: 4px;
  padding: 0 5px;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-animation: blink normal 1.5s infinite ease-in-out;
  -webkit-animation: blink normal 1.5s infinite ease-in-out;
  -ms-animation: blink normal 1.5s infinite ease-in-out;
  animation: blink normal 1.5s infinite ease-in-out;
}

@keyframes blink {
  0% {
    background-color: rgba(255, 0, 0, 1);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(255, 0, 0, 1);
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: rgba(255, 0, 0, 1);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(255, 0, 0, 1);
  }
}

.viewers-badge {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 0 10px;
  border-radius: 4px;
}

.block {
  cursor: pointer;
  display: block;
  color: var(--gray-secondary);
  font-size: 15px;
}

.block:hover {
  color: var(--gray-main);
}

.description {
  width: 336px;
}

.video-name {
  cursor: pointer;
  font-size: 20px;
  text-overflow: ellipsis;
}

.video-name:hover {
  color: var(--blue-main);
}

.flex-desc {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 20px;
  text-align: center;
  position: static;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  section {
    margin-left: 60px;
  }
  .video-container {
    padding-left: 10px;
  }

  .categories-list {
    margin: 10px;
  }
}

@media screen and (max-width: 750px) {
  .img-container img {
    width: 536px;
    height: 288px;
  }

  .viewers-badge {
    left: 450px;
  }

  .description {
    width: 536px;
  }
}
